/***********************NOTES**************************/
/*
    Using Variables -> Look at :root below
*/

:root {
    --blue-bg-color: #cddeff;
    --green-bg-color: yellowgreen;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 1em auto;
    padding: 0.5em;
}
.message-info {
    background-color: var(--blue-bg-color);
    color: blue;
}

.message-success {
    color: green;
    background-color: var(--green-bg-color);

}

.message-warning {
    color: grey;
    background-color: yellow;
}

.message-error {
    color: darkred;
    background-color: indianred;
}