body {
    /*background-image: url(https://images.pexels.com/photos/315938/pexels-photo-315938.jpeg); */
    background-size: cover;
    background-color: #dae1e7;
    background-blend-mode: luminosity;
    font-family: 'Raleway', sans-serif;

}

#top {
    text-align: center;

}

h1, h2 {
    color: #00909e; /* single line comment */
    text-decoration: underline;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: lower-roman;
}

table {
    width: 70%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 8rem mediumpurple;
}
th, td {
    text-align: center;
    padding: 0.5rem;
    width: 35%;
}




















/*
main {
    background-color: #dae1e7;
}
 */
